<!DOCTYPE html>
<html>
<head>
  <title>LearnIt 學無止盡</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="替你搜尋, 篩選, 整理, 最優質的教學影片！">
  <meta name="author" content="Steven KO">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
<div class= "alert alert-info" ><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
<div class= "alert alert-error"><%= flash[:alert] %></div>
<% end %>
<%= yield %>

</body>
</html>
